<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
    <main>
        <img id="logo" src="static/img/logo.png" alt="logo">
        <form class="center" action="employe.html" method="get">
            <fieldset class="form-center">
                <legend>Entrar no Sistema</legend>
                <label for="uname-id">Usuário:</label>
                <input type="text" name="uname" id="uname-id" required>
                <label for="pass-id">Senha:</label>
                <input type="password" name="pass" id="pass-id" required>
                <input type="submit" value="Entrar" id="in-id">
            </fieldset>
        </form>
    </main>
</body>
</html>